public net.minecraft.world.level.levelgen.NoiseRouterData m_255262_(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/core/HolderGetter;ZZ)Lnet/minecraft/world/level/levelgen/NoiseRouter; # overworld
public net.minecraft.world.level.chunk.storage.IOWorker f_63518_ # storage
public net.minecraft.world.level.chunk.storage.RegionFileStorage f_63699_ # regionCache
public net.minecraft.world.level.chunk.storage.RegionFileStorage f_63700_ # folder

# ---- 动态维度实例所需 ----
public net.minecraft.server.MinecraftServer f_129762_ # levels
public net.minecraft.server.MinecraftServer f_129744_ # storageSource
public net.minecraft.server.MinecraftServer f_129738_ # executor
public net.minecraft.server.MinecraftServer f_129763_ # progressListenerFactory